
<body>
  <h1>ようこそBookersへ</h1>
  <p class="top-text">
    <b>bookers</b>では、さまざまな書籍に関するあなたの意見や</br>
    </br>
    印象を共有し交換することができます
    
  </p>
  
  <div class="link"><%=link_to "start",books_path%></div>

</body>